.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
.textContainer {
  width: 100%;
  margin-right: 8px;
}
.accessIcon {
  width: 40px;
  height: 40px;
  font-size: 2rem;
  margin: 0 4px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.labelContainer {
  display: flex;
  height: fit-content;
  align-items: center;
}
.label {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}
.value {
  font-size: 1.6rem;
  margin: 0;
  color: var(--color-dark-grey);
}

/* Editing */
.container_editing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
.buttonGrid {
  display: grid;
  width: 100px;
  gap: 4px;
  grid-template-columns: 40px 40px;
  grid-template-rows: 40px 40px;
}

@media (max-width: 400px) {
  .container > .textContainer {
    white-space: nowrap;
    overflow: scroll;
    width: 60%;
    margin-right: 8px;
  }
}
