.buttonContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: -20px;
  top: -20px;
}
.buttonContainer > button:nth-child(even) {
  margin-top: 8px;
}
.imageContainer_interactive {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main-light);
  position: relative;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  box-shadow: 2px 2px black;
  margin-right: 20px;
  font-size: 3rem;
  color: var(--color-main);
  cursor: pointer;
  border: 2px solid black;
}
.imageContainer_interactive:hover {
  box-shadow: 1px 1px black;
  transform: translate(1px, 1px);
}
.imageContainer_interactive:active {
  box-shadow: 0px 0px black;
  transform: translate(2px, 2px);
}
.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main-light);
  /* box-shadow: 0px 0px black;
  transform: translate(2px, 2px); */
  position: relative;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  margin-right: 20px;
  font-size: 3rem;
  color: var(--color-main);
  /* border: 2px solid black; */
}

.contactButtonContainer {
  /* position: absolute;
  top: -20px;
  right: -20px;
  display: flex;
  gap: 6px;
  flex-direction: column; */
  display: flex;
  gap: 6px;
  width: 100%;
  /* background: grey; */
}
