.main {
  display: flex;
  justify-content: center;
  width: 100%;
}
.heroText {
  color: #454ef7;
  margin: 0 0 25px 0;
  font-size: 7rem;
}
@media (max-width: 500px) {
  .heroText {
    font-size: 5rem;
  }
}
@media (max-width: 400px) {
  .heroText {
    font-size: 4rem;
  }
}
@media (max-width: 350px) {
  .heroText {
    font-size: 3.5rem;
  }
}
